body {
  background-color: #DDD;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: cover;
  height: 87%;
}

.dashboard-content {
  max-height: 520px;
  height: 100%;
  max-width: 50%;
  width: 100%;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0 0 5px 0 #0004;
  margin: 25px 0;
  border-radius: 6px;
}

.dashboard-content input {
  background: #FFF;
  height: 42px;
  width: 270px;
  border: none;
  padding: 0 25px;
  border-radius: 21px;
  box-shadow: 0 0 5px 0 #0004;
  margin: 20px 0;
}

.dashboard-container .donations-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0 45px;
  height: 75%;
  overflow-y: scroll;
}

.dashboard-container .donations-list li {
  display: flex;
  flex-direction: column;
  height: 170px;
  background: #FFF;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.dashboard-container .donations-list li img {
  height: 120px;
  width: 100%;
  border-radius: 2px;
}

.dashboard-container .donations-list li footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  background: none;
}

.dashboard-container .donations-list li footer strong {
  color: #444;
  font-size: 18px;
  margin: 5px 0;
}

.dashboard-container .donations-list li footer p {
  color: #666;
  font-size: 14px;
  text-transform: capitalize !important;
}
