#header-home .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: space-between;
  padding: 0.7em 2em;
  width: 100%;
  color: #333;
  box-shadow: 0 0 10px 0 #333;
	background: none;
	z-index: 99;
}

#header-home .navbar img {
  height: 55px;
  width: auto;
}

#header-home .navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

#header-home .navbar nav a {
  color: #333;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

#header-home .navbar a:hover {
  color: #23a8f5;
}

#header-home .navbar .header-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 110px;
  padding: 12px 10px;
	background: #bb43a1;
	border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.navbar .header-btn img {
	height: 20px !important;
	width: 20px;
	filter: invert(1);
}

#header-home .navbar .header-btn:hover {
  background: #cf50b4;
}
