section#painel .wrapper {
  align-items: center;
	background: url('../../assets/img/backgrounds/bg-dashboard.jpg') no-repeat;
	background-size: cover;
  background-position: 50% 50%;
}

.floating-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  height: 30%;
  max-width: 495px;
  margin-left: 455px;
}

.floating-content * {
  font-family: 'Roboto Slab';
}

.floating-content h2 {
  font-size: 38px;
  font-weight: 600;
}

.floating-content h2 strong {
  color: var(--color-secondary-grn);
  display: block;
}

.floating-content p {
  color: #666;
  font-size: 20px;
  line-height: 24px;
}

.floating-content .buttons {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.floating-content .buttons * {
  text-decoration: none;
  font-style: 14px;
}

.floating-content .buttons .bg-link {
  color: #fff;
  background: #008be7;
  padding: 8px 25px;
  border-radius: 2px;
  position: relative;
  transition: background 0.2s;
}

.floating-content .buttons .bg-link:hover {
  background: #26a8ff;
}

.floating-content .buttons .cm-link {
  color: #000;
  position: relative;
}

.floating-content .buttons .cm-link::before {
  content: '';
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: -8px;
  height: 2px;
  width: 80%;
  background: #000;
  transition: bottom 0.2s;
}

.floating-content .buttons .cm-link:hover::before {
  bottom: -5px;
}

.partners {
  margin-top: 85px;
  max-height: 230px;
  max-width: 485px;
}

.partners h2 {
  font-family: 'Roboto Slab';
  text-align: center;
}

.partners .partner-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  list-style: none;
  margin-top: 16px;
}

.partners .partner-list .partner img {
  height: 82px;
  width: 82px;
  filter: grayscale(1);
}

/*  */
section#doar {
  background: #fff;
}

section#doar h1,
section#doar h2,
section#doar h4 {
  position: relative;
  bottom: 5vh;
}

section#doar h1 {
  font-size: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
  color: #333;
}

section#doar h2 {
  color: #999;
}

section#doar h4 {
  color: #999;
}

section#doar .wrapper {
  justify-content: space-between;
  padding: 5em 0;
}

section#doar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
}

section#doar ul li {
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
  border-radius: 20px;
  padding: 1.5em 1.5em;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.4s !important;
}

section#doar ul li img {
  height: 6em;
  width: 6em;
}

section#doar ul li:hover img {
  filter: brightness(0) invert(1);
}

section#doar ul li:hover strong {
  color: #fff !important;
}

section#doar ul li:nth-child(1) {
  border-color: #cc0000;
}

section#doar ul li:nth-child(1) strong {
  color: #cc0000;
}

section#doar ul li:nth-child(1):hover{
  background: #cc0000;
  box-shadow: 0 0 10px 0 #cc0000;
}

section#doar ul li:nth-child(2) {
  border-color: #ffc107;
}

section#doar ul li:nth-child(2) strong {
  color: #ffc107;
}

section#doar ul li:nth-child(2):hover{
  background: #ffc107;
  box-shadow: 0 0 10px 0 #ffc107;
}

section#doar ul li:nth-child(3) {
  border-color: #00e676;
}

section#doar ul li:nth-child(3) strong {
  color: #00e676;
}

section#doar ul li:nth-child(3):hover{
  background: #00e676;
  box-shadow: 0 0 10px 0 #00e676;
}

section#doar ul li:nth-child(4) {
  border-color: #00e5ff;
}

section#doar ul li:nth-child(4) strong {
  color: #00e5ff;
}

section#doar ul li:nth-child(4):hover{
  background: #00e5ff;
  box-shadow: 0 0 10px 0 #00e5ff;
}

section#doar ul li:nth-child(5) {
  border-color: #e91e63;
}

section#doar ul li:nth-child(5) strong {
  color: #e91e63;
}

section#doar ul li:nth-child(5):hover{
  background: #e91e63;
  box-shadow: 0 0 10px 0 #e91e63;
}

section#doar ul li strong {
  text-align: center;
  margin-top: 2em;
  font-size: 16px;
  text-transform: uppercase;
}

section#doar .wrapper a {
  text-decoration: none;
}

section#doar .wrapper button {
  display: flex;
  flex-direction: row;
  background: #fd6f9e;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 15px 25px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 4em;
  letter-spacing: 1px;
  cursor: pointer;
}

section#doar .wrapper button:hover {
  background: #ff9ebf;
}

section#doar .wrapper button:hover img {
  filter: brightness(0) invert(1);
}

section#fale-conosco {
  background-color: #f5f5f5;
}

section#fale-conosco .header-legend {
  font-size: 20px;
  position: relative;
  top: 5vh;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
}

section#fale-conosco .header-text {
  font-size: 48px;
  position: relative;
  top: 5vh;
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
}

section#fale-conosco .info {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15vw;
  flex-direction: row;
  width: 100%;
  height: 95vh;
}

section#fale-conosco form {
  display: flex;
  max-width: 32vw;
  max-height: 68vh;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section#fale-conosco form legend {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  top: 3vh;
}

section#fale-conosco form .inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

section#fale-conosco form .input {
  width: 100%;
  height: 42px;
  padding: 0 10px;
  margin-top: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid #ff6000;
  font-weight: bold;
  color: #ff6000;
}

section#fale-conosco form textarea {
  height: 25vh !important;
  width: 100%;
  resize: none;
  padding: 10px;
}

section#fale-conosco form .btn-submit {
  background: #ff9000;
  width: 40%;
  height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  transition: all 0.3s;
}

section#fale-conosco form .btn-submit:hover {
  background: #ffa000;
}

section#fale-conosco .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 32vw;
  max-height: 50vh;
  width: 100%;
  height: 100%;
  background: #ff6000;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 #333;
}

section#fale-conosco .contact-info ul {
  list-style: none;
  padding: 0 20px;
}

section#fale-conosco .contact-info ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  color: #fff;
}

section#fale-conosco .contact-info ul li img {
  height: 48px;
  width: 48px;
  margin: 10px 20px;
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 5px;
}
