.login-container {
  height: 100%;
  background: url('../../assets/img/backgrounds/bg-login.jpg') no-repeat;
  background-size: cover;
}

.login-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 320px;
  width: 100%;
  padding: 0 25px;
  background: #fff;
  box-shadow: 0 0 15px 0 #999;
}

.login-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: left;
  height: 100%;
  width: 100%;
}

.login-content form legend,
.login-content form label strong {
  font-family: 'Roboto Slab';
  text-align: left;
}

.login-content form legend {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.login-content form label {
  width: 100%;
  margin-bottom: 8px;
}

.login-content form label strong {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-indent: 8px;
  margin-bottom: 2px;
}

.login-content form input,
.login-content form button {
  width: 100%;
  border-radius: 4px;
}

.login-content form button {
  height: 32px;
  margin-top: 16px;
  border: 1px solid var(--color-light);
  cursor: pointer;
  border-color: var(--color-tertiary-blu-grn);
  background: linear-gradient(180deg, var(--color-secondary-grn), var(--color-tertiary-blu-grn));
  color: var(--color-white);
  font-weight: 400;
}

.login-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}

.login-options a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
  transition: color 0.1s;
}

.login-options a:hover {
  color: var(--color-primary-blu);
}
