section#parceiros .header-text {
  font-size: 52px;
	position: relative;
	top: 15vh;
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
}

section#parceiros ul {
	position: relative;
	top: 30vh;
	left: 0;
	right: 0;
	bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: space-between;
  list-style: none;
	width: 55vw;
}

section#parceiros ul li img {
  display: flex;
  width: 135px;
  height: 135px;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
  transition: all 0.3s;
}

section#parceiros ul li img:hover {
  filter: none;
}
