.side-navigator {
  position: fixed;
  top: 35%;
  right: 0;
  height: 10em;
  width: 3em;
  background: #fff;
  z-index: 99;
}

.side-navigator ul {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 1em 0;
}

.side-navigator ul li {
  height: 0.8em;
  width: 0.8em;
  border-radius: 0.4em;
  border: 1px solid #000;
  background: #fff;
}

.side-navigator ul li:first-child {
  background: #000;
}
