.donation-content {
  max-height: 520px;
  height: 100%;
  max-width: 50%;
  width: 100%;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0 0 5px 0 #0004;
  margin: 25px 0;
  border-radius: 6px;
}

.item-info {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.item-info > .details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item-info > .details > img {
  width: 220px;
  height: 220px !important;
  border-radius: 8px;
}

.item-info > .details > strong {
  font-size: 21px;
  color: #111;
  margin-top: 5px;
}

.item-info > .details > p {
  font-size: 14px;
  color: #444;
  margin-top: 5px;
}

.item-info > .receiver {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}
