section#painel {
	background: url('../../../../assets/img/backgrounds/perry-grone-lbLgFFlADrY-unsplash.jpg') no-repeat;
	background-size: cover;
	background-position-y: 50%;
}

section#painel .container h1 {
  color: #fff;
  font-size: 70px;
	text-align: center;
	position: relative;
	top: 40vh;
}
