.signin-container {
  background: linear-gradient(90deg, #ffc0cb, #fff9fa);
  height: 100%;
}

.signin-container > aside {
  display: flex;
  flex-direction: column;
  padding: 40px 35px;
  width: 380px;
  height: 100%;
  background: #FFF;
}

.signin-container > aside > img {
  width: 100px;
  height: auto;
}

.signin-container > aside > strong {
  font-size: 23px;
  letter-spacing: 1px;
  color: #1b1f2a;
  margin-top: 40px;
  margin-bottom: 20px;
}

.signin-container > aside > form {
  display: flex;
  flex-direction: column;
}

.signin-container > aside > form > label {
  color: #666;
  font-weight: bold;
  margin-bottom: 5px;
}

.signin-container > aside > form > input {
  margin-bottom: 15px;
  height: 38px;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 0 15px;
  transition: border .2s, box-shadow .2s;
  font-size: 16px;
  color: #333;
}

.signin-container > aside > form > input:focus {
  border-color: #4da0ff;
  box-shadow: 0 0 0 3px #4da0ff66;
}

.signin-container > aside > form > .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.signin-container > aside > form > .options > button {
  width: 85px;
  height: 36px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #ff0055;
  cursor: pointer;
}

.signin-container > aside > form > .options > button:hover {
  opacity: 0.86;
}

.signin-container > aside > form > .options > p {
  font-size: 14px;
}

.signin-container > aside > form > .options > p > a {
  color: #19a2e2;
}
